body {
	font-family: "Open Sans", "PT Sans", Helvetica, Arial, sans-serif;
}

body, header * {
	margin: 0px;
}

.nav-bcg {
	background: linear-gradient(to top right, rgba(110,0,0,0.9) , rgba(186,56,56,0.9));
	height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 -2px rgba(0, 0, 0, 0.3);
	z-index: 1;
}

#mostrar {
	top: 80px;
	left: 10px;
	position: absolute;
}

#mostrar-flecha {
	width: 30px;
	height: 30px;
	background-color: rgba(255,255,255,0.8);
	background-image: url("../images/mostrar_arriba.svg");
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	cursor: pointer;
	border-radius: 100%;
	z-index: 2;
}

#mostrar-flecha:hover {
	background-color: rgba(110,0,0,0.9);
}

#mostrar-help {
	width: 50px;
	height: 10px;
	font-size: 10px;
	font-weight: bold;
	text-shadow: 1px 1px #000000;
	color: #FFFFFF;
	position: absolute;
	top: 8px;
	left: -60px;
	z-index: 1;
}

nav {
	width: 1000px;
	padding-top: 10px;
	padding-bottom: 30px;
	margin: 0 auto 0 auto;
}

.menu {
	display: inline;
	margin: 0;
	float: right;
	list-style: none;
	text-align: center;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.menu a {
	text-decoration: none;
	color: #FFFFFF;
}

.menu li {
	display: inline-block;
	position: relative;
	padding: 15px 30px;
	width: 100px;
	margin-right: -4px;
}

.menu li:hover {
	background-color: #FFFFFF;
	font-weight: bolder;
	border-radius: 5px;
}

.menu li:hover a {
	color: #6E0000;
}

.menu li ul {
	display: none;
	visibility: hidden;
	position: absolute;
	padding: 0;
	top: 48px;
	left: 0;
	width: 100px;
}

.menu li ul li {
	display: block;
	background-color: #BA3838;
	color: #6E0000;
	font-weight: normal;
}

.menu li ul li:hover {
	background-color: #862828;
	border-radius: 0;
}

.menu li ul li:last-child,  .menu li ul li:last-child:hover {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu li:hover ul {
	display: block;
	visibility: visible;
}

nav img {
	height: 50px;
	float: left;
}

header {
	padding-top: 70px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.claro {
	background-color: #FFFFFF;

}

.oscuro {
	background-color: rgba(186, 56, 56, 0.15);
	/*background-color: rgba(186, 56, 56, 0.1);*/
	/*background-color: rgba(0, 0, 0, 0.05);*/
}

.large {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 1000px;
	margin: 0 auto 0 auto;
}

.large .content {
	display: block;
	width: 55%;
}

.oscuro article .content {
	float: left;
}

.oscuro article figure {
	float: right;
}

.claro article .content {
	float: right;
}

.claro article figure {
	float: left;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

article p {
	padding: 0;
	font-weight: lighter;
	font-size: 22px;
}

.large figure {
	width: 40%;
	margin: 10px;
}

.large img {
	width: 100%;
}

.article-links {
	display: block;
	clear: both;
	list-style: none;
	margin: 20px auto 20px auto;
	padding-left: 0;
	width: 90%;
	text-align: center;
	padding-top: 40px;
}

.article-links li {
	display: inline-block;
	width: 100px;
	padding: 10px;
	margin-right: 15px;
	margin-left: 15px;
	color: #BA3838;
	vertical-align: middle;
}

.article-links li:hover {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #BA3838;
	border-radius: 5px;
}

.article-links a {
	text-decoration: none;
	color: inherit;
}

.footer-bcg {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 300px;
}

footer {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 1000px;
	margin: 0 auto 0 auto;
}

.links {
	display: inline;
	float: left;
	list-style: none;
	text-align: left;
	padding-left: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.links a {
	text-decoration: none;
	color: #FFFFFF;
}

.links a:hover {
	color: #BA3838;
}

.links li {
	display: inline-block;
	position: relative;
	width: 200px;
	vertical-align: top;
}

.links li .link-title {
	padding: 5px;
	background-color: #BA3838;
	color: #FFFFFF;
	border-radius: 5px;
}

.links li ul {
	padding-left: 0;
	padding-top: 10px;
}

.links li ul li {
	padding: 5px;
}

footer img {
	display: block;
	float: right;
	width: 70px;
}

.clearer {
	clear: both;
}