header {
	background-image: url("../images/actividades/nadal/foto_grupo.jpg");
	background-position: 0 -160px;
	height: 400px;
}

#title {
	padding-top: 250px;
	text-align: left;
	font-size: 45px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
	width: 1000px;
	margin: 0 auto 0 auto;
}

.large a {
	text-decoration: none;
	color: #BA3838;
	padding: 0 7px 0 7px;
}

.large a:hover {
	color: #FFFFFF;
	background-color: #BA3838;
	border-radius: 5px;
}